html{
    user-select: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background: #CFD8DC;
    font-family: 'Roboto', sans-serif;
}

#app {
    background-color: #CFD8DC !important;
}

.v-application {
    background-color: #CFD8DC !important;
}

.copyright {
    font-size: 0.8rem;
}

table thead tr:first-child th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table tbody tr:last-child td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rounded {
    border-radius: 100px;
    overflow: hidden;
}

.margin {
    max-width: 512px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.not-selectable {
    cursor: default;
}