
/* Frame */
html{
    user-select: none;
    font-family: 'Roboto', sans-serif;
    background-color: #CFD8DC;
}
html::-webkit-scrollbar { display: none; }
.v-application { background-color: #CFD8DC !important; }

/* Function */
.Not_Selectable { cursor: default; }
.Selectable     { user-select: text; }
.Highlight      { background-color: #00000010; }

.Button_LikeVue {
    border: 1px solid #1976D2;
    background-color: transparent;
    color: #1976D2;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.Button_LikeVue:hover {
    background-color: #1976D2;
    color: white;
}

/* Compornent */
/** Card **/
.Card_Recommend {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
}
.Card_Description { color: rgba(0, 0, 0, 0.8) !important; }
.Card_Fade-enter-active, .Card_Fade-leave-active    { transition: opacity 0.5s; }
.Card_Fade-enter, .Card_Fade-leave-to               { opacity: 0; }

/* Table */
/** General **/
.Table_Rounded {
    border-radius: 10px;
    overflow: hidden;
}
/** Plant **/
.Table_Plant {
    background-color: #DFF0C2 !important;
}
.Table_Plant th {
    background-color: #C2D07B !important;
    font-size: 1rem !important;
}
.Table_Rounded th,
.Table_Rounded td {
  border-right: 1px solid #ccc;
  padding: 12px !important;
}
.Table_Rounded th:last-child,
.Table_Rounded td:last-child {
  border-right: none;
}

/* Youtube */
.Youtube {
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    overflow: hidden;
}

/* Animation */
/** Fade **/
.Fade_Page-enter-active, .Fade_Page-leave-active    { transition: opacity 3s; }
.Fade_Page-enter, .Fade_Page-leave-to               { opacity: 0; }
#Fade_Game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCA3B7;
    opacity: 1;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 1000;
}
/** Glitch **/
.Glitch_Text {
    position: absolute;
    color: #0ff;
    font-size: 4em;
    letter-spacing: 0.1em;
    text-shadow: 0.05em 0 0 #00fff9, -0.025em -0.05em 0 #ff00c1, 0.025em 0.05em 0 #fffc00;
    animation: Glitch_TextShadow 500ms infinite;
}
.Glitch_Text::before,
.Glitch_Text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Glitch_Text::before {
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: Glitch_Start 5s infinite linear alternate-reverse;
}
.Glitch_Text::after {
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: Glitch_End 1s infinite linear alternate-reverse;
}
@keyframes Glitch_TextShadow {
    0%  { text-shadow: 0.05em 0 0 #00fff9, -0.05em -0.025em 0 #ff00c1, 0.025em 0.05em 0 #fffc00; }
    14% { text-shadow: 0.05em 0 0 #00fff9, -0.05em -0.025em 0 #ff00c1, 0.025em 0.05em 0 #fffc00; }
    15% { text-shadow: -0.05em -0.025em 0 #00fff9, 0.025em 0.025em 0 #ff00c1, -0.05em -0.05em 0 #fffc00; }
    49% { text-shadow: -0.05em -0.025em 0 #00fff9, 0.025em 0.025em 0 #ff00c1, -0.05em -0.05em 0 #fffc00; }
    50% { text-shadow: 0.025em 0.05em 0 #00fff9, 0.05em 0 0 #ff00c1, 0 -0.05em 0 #fffc00; }
    99% { text-shadow: 0.025em 0.05em 0 #00fff9, 0.05em 0 0 #ff00c1, 0 -0.05em 0 #fffc00; }
    100% { text-shadow: -0.025em 0 0 #00fff9, -0.025em -0.025em 0 #ff00c1, -0.025em -0.05em 0 #fffc00; }
}
@keyframes Glitch_Start {
    0%  { clip: rect(54px, 9999px, 67px, 0); }
    10% { clip: rect(42px, 9999px, 43px, 0); }
    20% { clip: rect(75px, 9999px, 46px, 0); }
    30% { clip: rect(66px, 9999px, 3px, 0); }
    40% { clip: rect(90px, 9999px, 69px, 0); }
    50% { clip: rect(9px, 9999px, 97px, 0); }
    60% { clip: rect(48px, 9999px, 20px, 0); }
    70% { clip: rect(13px, 9999px, 41px, 0); }
    80% { clip: rect(47px, 9999px, 19px, 0); }
    90% { clip: rect(55px, 9999px, 67px, 0); }
    100% { clip: rect(66px, 9999px, 3px, 0); }
}
@keyframes Glitch_End {
    0%  { clip: rect(9px, 9999px, 97px, 0); }
    10% { clip: rect(48px, 9999px, 20px, 0); }
    20% { clip: rect(13px, 9999px, 41px, 0); }
    30% { clip: rect(47px, 9999px, 19px, 0); }
    40% { clip: rect(55px, 9999px, 67px, 0); }
    50% { clip: rect(66px, 9999px, 3px, 0); }
    60% { clip: rect(54px, 9999px, 67px, 0); }
    70% { clip: rect(42px, 9999px, 43px, 0); }
    80% { clip: rect(75px, 9999px, 46px, 0); }
    90% { clip: rect(66px, 9999px, 3px, 0); }
    100% { clip: rect(90px, 9999px, 69px, 0); }
}
/** Background **/
/*** Linear Gradient ***/
.Gradient_Universe {
    background: linear-gradient(45deg, #000428, #004e92, #2c3e50, #0f2027, #203a43) !important;
    background-size: 400% 400% !important;
    animation: Gradient_1 5s ease infinite;
}
.Gradient_Nature {
    background: linear-gradient(45deg, #FFC0CB, #87CEFA, #3CB371, #A9A9A9, #FFE4E1) !important;
    background-size: 400% 400% !important;
    animation: Gradient_1 5s ease infinite;
}
@keyframes Gradient_1 {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}