
body {
    overflow: hidden;
    margin: 0px;
}

#Fade_Game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCA3B7;
    opacity: 1;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 1000;
}