/* Table */
.Table_Plant {
    background-color: #DFF0C2 !important;
}
.Table_Plant th {
    background-color: #C2D07B !important;
    font-size: 1rem !important;
}
.Table_Rounded th,
.Table_Rounded td {
  border-right: 1px solid #ccc;
  padding: 12px !important;
}
.Table_Rounded th:last-child,
.Table_Rounded td:last-child {
  border-right: none;
}