<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="shortcut icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">

    <!-- Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="../../Asset/CSS/Common.css" rel="stylesheet" />

</head>

<body>

    <v-app id="App">
        <template>
            <main-system-bar-chinese :drawer="Drawer" @change-drawer="ChangeDrawer">动词 > 种类</main-system-bar-chinese>
            
            <main-navigation-chinese :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation-chinese>
            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">
                    <v-row justify="center">
                        <v-col xs="12" md="6" lg="6">
                            <v-card>
                                <v-card-title>
                                    每100克的营养价值
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="Search_Nutrition" append-icon="mdi-magnify" label="搜索_营养" single-line hide-details></v-text-field>
                                </v-card-title>
                                <v-data-table :headers="Headers_Nutrition" :items="Desserts_Nutrition" :search="Search_Nutrition" item-key="vegetable"
                                    multi-sort :sort-by="['parts_of_speech']" :sort-asc="[true]" show-select dense
                                    :mobile-breakpoint="0" :items-per-page="-1"></v-data-table>
                            </v-card>
                        </v-col>
                    </v-row>
                    
                    <v-row justify="center">
                        <v-col xs="12" md="6" lg="6">
                            <v-card>
                                <v-card-title>
                                    生长环境
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="Search_Growing" append-icon="mdi-magnify" label="搜索_成长" single-line hide-details></v-text-field>
                                </v-card-title>
                                <v-data-table :headers="Headers_Growing" :items="Desserts_Growing" :search="Search_Growing" item-key="vegetable"
                                    multi-sort :sort-by="['parts_of_speech']" :sort-asc="[true]" show-select dense
                                    :mobile-breakpoint="0" :items-per-page="-1"></v-data-table>
                            </v-card>
                        </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>
            
        </template>
    </v-app>


    <!-- ▼ Style ▼ ----------------------------------------------------------------------->
    <style>

    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="../../Asset/Javascript/Common.js"></script>
    
    <script src="../Javascript/main-system-bar-chinese.js"></script>
    <script src="../Javascript/main-navigation-chinese.js"></script>
    
    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Common],
            data: {
                //// Nutrition
                Search_Nutrition: '',
                Headers_Nutrition: [
                    { text: '蔬菜', value: 'vegetable' },
                    { text: '热量(kcal)', value: 'energy' },
                    { text: '蛋白质(g)', value: 'protein' },
                    { text: '脂肪(g)', value: 'fat' },
                    { text: '碳水化合物(g)', value: 'carbohydrates' },
                    { text: '钾(mg)', value: 'potassium' },
                    { text: '钙(mg)', value: 'calcium' },
                    { text: '镁(mg)', value: 'magnesium' },
                ],
                Desserts_Nutrition: [],
                //// Growing
                Search_Growing: '',
                Headers_Growing: [
                    { text: '蔬菜', value: 'vegetable' },
                    { text: '最佳发芽温度(℃)', value: 'germination' },
                    { text: '适当(℃)', value: 'appropriate' },
                    { text: '土壤(pH)', value: 'soil' },
                    { text: '间隔(cm)', value: 'space' },
                ],
                Desserts_Growing: [],
            },
            created: function () {
                let vegetable = [
                    "牛蒡",
                    "菊花",
                    "茄子",
                    "小葱",
                    "小番茄",
                    "洋葱",
                    "菠菜"
                ];
                // Nutrition
                let energy = [
                    "50", 
                    "25", 
                    "17", 
                    "26", 
                    "30", 
                    "30", 
                    "23"
                ];
                let protein = [
                    "1.5", 
                    "2.7", 
                    "1.0", 
                    "2.0", 
                    "1.1", 
                    "0.8", 
                    "2.6"
                ];
                let fat = [
                    "0.2", 
                    "0.5", 
                    "0.1", 
                    "0.3", 
                    "0.1", 
                    "0.1", 
                    "0.5"
                ];
                let carbohydrates = [
                    "13.7", 
                    "4.5", 
                    "4.5", 
                    "5.4", 
                    "7.2", 
                    "7.3", 
                    "4.0"
                ];
                let potassium = [
                    "210", 
                    "270", 
                    "180", 
                    "320", 
                    "290", 
                    "110", 
                    "490"
                ];
                let calcium = [
                    "48", 
                    "120", 
                    "20", 
                    "100", 
                    "12", 
                    "18", 
                    "69"
                ];
                let magnesium = [
                    "40", 
                    "24", 
                    "16", 
                    "17", 
                    "13", 
                    "7", 
                    "40"
                ];
                // Growing
                let germination = [
                    "20~25", 
                    "15~20", 
                    "20~30", 
                    "15~25", 
                    "25~30", 
                    "15~20", 
                    "15~20"
                ];
                let appropriate = [
                    "20~25", 
                    "15~20", 
                    "16~28", 
                    "15~25", 
                    "21~26", 
                    "15~20", 
                    "15~20"
                ];
                let soil = [
                    "6.5~7.0",
                    "6.0~6.5",
                    "6.0~6.5",
                    "6.0~7.0",
                    "6.0~6.5",
                    "6.0~6.5",
                    "6.0~6.5"
                ];
                let space = [
                    "03~08, 10~15",
                    "10~15",
                    "50",
                    "01",
                    "40~50",
                    "12~15",
                    "05~08"
                ];

                for (let i = 0; i < vegetable.length; i++) {
                    // Nutrition
                    let row_nutrition = {
                        vegetable: vegetable[i],
                        energy: energy[i],
                        protein: protein[i],
                        fat: fat[i],
                        carbohydrates: carbohydrates[i],
                        potassium: potassium[i],
                        calcium: calcium[i],
                        magnesium: magnesium[i]
                    };
                    this.Desserts_Nutrition.push(row_nutrition);
                    // Growing
                    let row_growing = {
                        vegetable: vegetable[i],
                        germination: germination[i],
                        appropriate: appropriate[i],
                        soil: soil[i],
                        space: space[i],
                    };
                    this.Desserts_Growing.push(row_growing);
                }
            },
        })

        // Javascript --------------------------------------------------------------------

    </script>

</body>

</html>