<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css" rel="stylesheet" />
    <link href="../../Asset/CSS/common_word_japanese.css" rel="stylesheet" />

    <title></title>
</head>


<body>

    <v-app id="App">
        <template>
            <main-system-bar-chinese :drawer="Drawer" @change-drawer="ChangeDrawer">单词 - 限期 ( {{ Date }} )
            </main-system-bar-chinese>
            
            <main-navigation-chinese :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation-chinese>
            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">
                    <v-row no-gutters><v-col cols="2" md="1" lg="1"></v-col><v-spacer></v-spacer><v-col cols="5" md="2" lg="2"><v-switch v-model="Switch" :label="`全部切换`" inset hide-details="false"/></v-col></v-row>
                    <v-row justify="center" class="ma-0">
                        <v-col cols="12" md="3" lg="3" v-model="List" v-for="list in List" :key="list.id">
                            <card-word-general :showall="Switch">
                                <template v-slot:first>
                                    <span v-html="list.japanese"></span><br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>
                                    <span v-html="list.chinese"></span>
                                </template>
                            </card-word-general>
                        </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>
            <main-footer>Universe</main-footer>
            
        </template>
    </v-app>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="../../Asset/Javascript/Common.js"></script>
    
    <script src="../Javascript/main-system-bar-chinese.js"></script>
    <script src="../Javascript/main-navigation-chinese.js"></script>
    <script src="../Javascript/card-word-general-chinese.js"></script>
    
    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Common],
            data: {
                Switch: false,
                Date: "",
                List: [],
            },
            methods: {
            },
            created: function () {
                let japanese = [
                    "宇宙",
                    "星(恒星)",
                    "惑星",
                    "地球",
                    "太陽",
                    "銀河系",
                    "望遠鏡",
                    "暗い",
                    "綺麗",
                    "寒い",
                    "熱い",
                    "遠い",
                    "近い",
                    "飛ぶ",
                    "離陸する",
                    "着陸する",
                    "観測する",
                ];
                let reading = [
                    "uchuu",
                    "hoshi(kousei)",
                    "wakusei",
                    "chikyuu",
                    "taiyou",
                    "gingakei",
                    "bouenkyou",
                    "kurai",
                    "kirei",
                    "samui",
                    "atsui",
                    "tooi",
                    "chikai",
                    "tobu",
                    "ririkusuru",
                    "chakurikusuru",
                    "kansokusuru",
                ];
                let chinese = [
                    "Universe",
                    "Star",
                    "Planet",
                    "Earth",
                    "Sun",
                    "Galaxy",
                    "Telescope",
                    "Dark",
                    "Beautiful",
                    "Cold",
                    "Hot",
                    "Far",
                    "Close",
                    "Flying",
                    "Take off",
                    "Make a landing",
                    "Observe",
                ];

                for (let i = 0; i < japanese.length; i++) {
                    let row = {};
                    row.id = i;
                    row.japanese = japanese[i];
                    row.reading = reading[i];
                    row.chinese = chinese[i];
                    this.List.push(row);
                }
            },
        })

        // Javascript --------------------------------------------------------------------
        $(function () {
            Get_CountDown();
        });
        window.onload = function () {
            setInterval(Get_CountDown, 1000);
        }
        function Get_CountDown() {
            let current = new Date();
            let period = new Date(2022, 9, 10, 0, 0, 0);
            let different = period - current;
            let day = Math.floor(different / (1000 * 60 * 60 * 24));
            let hour = Math.floor(different / (1000 * 60 * 60)) - (24 * day);
            let minute = Math.floor(different / (1000 * 60)) - (24 * day * 60) - (60 * hour);
            let second = Math.floor(different / 1000) - (24 * day * 60 * 60) - (60 * hour * 60) - (60 * minute);

            if (day > 1) vue.Date = day + " days : " + hour + " : " + minute + " : " + second;
            else vue.Date = day + " day : " + hour + " : " + minute + " : " + second;

            if (current.getTime() > period.getTime()) vue.Date = "0 day : 0 : 0 : 0";
        }


    </script>


</body>


</html>