<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B89KY0993B');
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css" rel="stylesheet" />
</head>

<body>
    <v-app id="App">
        <template>
            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Blog</main-system-bar>
            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>

            <v-main>
                <v-container fluid>
                    <v-row>
                        <v-col cols="12" md="4" order="first" order-md="last">
                            <v-card class="mb-4">
                                <v-card-title>About Me</v-card-title>
                                <v-card-text>
                                    <v-row>
                                        <v-col cols="auto">
                                            <v-img lazy-src="../../Asset/Image/Icon_1_1.jpg"
                                                src="../../Asset/Image/Icon_1_1.jpg"
                                                style="border-radius: 50%; width: 5em; height: 5em;"></v-img>
                                        </v-col>
                                        <v-col>Hello. I'm FUM. i write articles about the world and Japan.</v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                            <v-card class="mb-4">
                                <v-date-picker v-model="selectedDate" @click:date="dateSelected"
                                    @update:picker-date="updatePickerDate" full-width :events="postDates"
                                    event-color="primary" class="custom-date-picker"></v-date-picker>
                                <v-card-text class="text-center py-0">
                                    <v-icon color="primary" small>mdi-circle</v-icon>
                                    <span class="ml-1 caption">Dates with posts</span>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn text color="primary" @click="showAllPosts">Show All</v-btn>
                                    <v-btn text color="primary" @click="showCurrentMonthPosts">Show Month</v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-card>
                                <v-card-title>Themes</v-card-title>
                                <v-card-text>
                                    <v-chip-group v-model="selectedThemes" column multiple>
                                        <v-chip v-for="theme in themes" :key="theme" :value="theme" filter outlined>
                                            {{ theme }}
                                        </v-chip>
                                    </v-chip-group>
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col cols="12" md="8" order="last" order-md="first">
                            <v-card class="pa-4">
                                <v-card-title class="text-h5 mb-4">
                                    {{ pageTitle }}
                                    <v-chip v-if="selectedThemes.length > 0" class="ml-2" small color="primary">
                                        {{ filteredThemesText }}
                                    </v-chip>
                                </v-card-title>
                                <template v-for="post in filteredPosts" :key="post.id">
                                    <v-card class="mb-6 blog-card">
                                        <v-img :src="post.image" height="250px"></v-img>
                                        <v-card-title class="text-h6 pt-4">{{ post.title }}</v-card-title>
                                        <v-card-subtitle class="pb-2">{{ post.date }}</v-card-subtitle>
                                        <v-chip-group style="padding-left: 16px; padding-bottom: 16px;">
                                            <v-chip v-for="theme in post.themes" :key="theme" small>
                                                {{ theme }}
                                            </v-chip>
                                        </v-chip-group>
                                        <v-card-actions v-if="expandedPost === post.id" class="pt-0 pb-4">
                                            <v-btn text color="primary" @click="togglePost(post.id)">
                                                Close
                                            </v-btn>
                                        </v-card-actions>
                                        <v-card-text class="text-body-1 pb-4">
                                            <transition-group name="fade-slide" mode="out-in">
                                                <div v-if="expandedPost === post.id" :key="'expanded'"
                                                    v-html="post.content"></div>
                                                <div v-else :key="'collapsed'">{{ post.excerpt }}</div>
                                            </transition-group>
                                        </v-card-text>
                                        <v-card-actions class="pt-0">
                                            <v-btn text color="primary" @click="togglePost(post.id)">
                                                {{ expandedPost === post.id ? 'Close' : 'Read More' }}
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </template>
                                <v-card-text v-else class="text-h6">
                                    No posts available for this period or themes.
                                </v-card-text>
                            </v-card>
                        </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-footer></main-footer>

        </template>
    </v-app>

    <style>
        #App {
            background-color: #CFD8DC !important;
        }

        .v-application {
            background-color: #CFD8DC !important;
        }

        .blog-card {
            transition: all 0.3s;
            overflow: hidden;
        }

        .blog-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
        }

        .custom-date-picker .v-date-picker-table {
            height: auto;
        }

        .custom-date-picker .v-date-picker-table .v-btn {
            font-size: 16px;
            height: 32px;
            width: 32px;
        }

        .custom-date-picker .v-date-picker-table .v-btn__content {
            color: inherit;
        }

        .v-date-picker-table__events {
            margin-top: -5px;
        }

        .fade-slide-enter-active,
        .fade-slide-leave-active {
            transition: all 0.5s ease-in-out;
            max-height: 1000px;
            opacity: 1;
            transform: translateY(0);
        }

        .fade-slide-enter,
        .fade-slide-leave-to {
            max-height: 0;
            opacity: 0;
            transform: translateY(-20px);
        }

        .blog-card img {
            max-width: 100%;
            height: auto;
            margin: 10px 0;
        }

        .blog-content-image {
            max-width: 384px;
            max-height: 384px;
        }

        
        .v-chip-group {
            margin-bottom: -8px;
        }

        .v-card__text {
            padding-top: 8px;
        }

        .v-card__subtitle {
            padding-bottom: 8px;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js"></script>
    

    <script>
        new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Common],
            data: {
                drawer: false,
                selectedDate: null,
                showCurrentMonth: false,
                pickerDate: new Date(),
                expandedPost: null,
                selectedThemes: [],
                themes: [
                    'Cooking',
                    'Culture',
                    'Greeting',
                    'Japan',
                ],
                blogPosts: [
                    {
                        id: 1,
                        title: 'My First Post',
                        date: '2024-07-13',
                        image: 'https://picsum.photos/id/1018/1000/600',
                        excerpt: 'This is my first blog post. I\'m excited to share my thoughts with you!',
                        content: `
                            <p>
                                　Hello everyone, I'm <b>FUM</b>.<br><br>
                                　In this blog, I will be sharing <b>various information</b> about the world and Japan.<br><br>
                                　I will be writing articles from <b>my own perspective</b>, so please come and check them out.<br><br>
                                　<b>Thank you for your support</b>.
                            </p>
                        `,
                        themes: ['Greeting']
                    },
                    {
                        id: 2,
                        title: 'Cooking Ramen',
                        date: '2024-08-31',
                        image: '../../Asset/Image/Blog/20240831_1.jpg',
                        excerpt: 'I made ramen soup for the first time. It went well!',
                        content: `
                            <p>　The <b>chicken legs</b> and garlic are simmered for a long time while the noodles are made.</p>
                            <img src="../../Asset/Image/Blog/20240831_3.jpg" class="blog-content-image" alt="Soup">
                            <p>
                                　The <b>soup</b> for ramen is prepared separately from the broth and seasoning and combined just before eating.<br>
                                In this case, I used <b>soy sauce</b> with soaked kelp.
                            </p>
                            <img src="../../Asset/Image/Blog/20240831_2.jpg" class="blog-content-image" alt="Noodle">
                            <p>　The noodles are kneaded with a mixture of <b>chives, garlic and eggs</b>, adjusted with water.</p>
                            <img src="../../Asset/Image/Blog/20240831_1.jpg" class="blog-content-image" alt="Ramen">
                            <p>
                                　The more time and effort it takes, the more original the taste becomes, which makes me very happy.<br>
                                The seasoning can be anything delicious in your country,<br>
                                so if you like, please look up the recipe and try to make it.
                            </p>
                        `,
                        themes: ['Cooking', 'Japan', 'Culture']
                    },
                ]
            },
            computed: {
                filteredPosts() {
                    let filtered = this.blogPosts.filter(post => {
                        const dateMatch = this.selectedDate ?
                            new Date(post.date).toDateString() === new Date(this.selectedDate).toDateString() :
                            this.showCurrentMonth ?
                                new Date(post.date).getMonth() === this.pickerDate.getMonth() &&
                                new Date(post.date).getFullYear() === this.pickerDate.getFullYear() :
                                true;

                        const themeMatch = this.selectedThemes.length === 0 ||
                            this.selectedThemes.some(theme => post.themes.includes(theme));

                        return dateMatch && themeMatch;
                    });

                    // idの降順でソート
                    return filtered.sort((a, b) => b.id - a.id);
                },
                pageTitle() {
                    if (this.selectedDate) {
                        return `Posts for ${this.formattedDate}`;
                    } else if (this.showCurrentMonth) {
                        return `Posts for ${this.pickerDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long' })}`;
                    } else {
                        return 'All Posts';
                    }
                },
                formattedDate() {
                    if (!this.selectedDate) return '';
                    const date = new Date(this.selectedDate);
                    return date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
                },
                postDates() {
                    return this.blogPosts.map(post => post.date);
                },

                filteredThemesText() {
                    const count = this.selectedThemes.length;
                    if (count === 0) return 'All Themes';
                    if (count === 1) return '1 Theme Selected';
                    return `${count} Themes Selected`;
                },
            },
            methods: {
                dateSelected(date) {
                    this.selectedDate = date;
                    this.showCurrentMonth = false;
                },
                updatePickerDate(date) {
                    this.pickerDate = new Date(date);
                },
                showAllPosts() {
                    this.selectedDate = null;
                    this.showCurrentMonth = false;
                },
                showCurrentMonthPosts() {
                    this.selectedDate = null;
                    this.showCurrentMonth = true;
                },
                togglePost(postId) {
                    if (this.expandedPost === postId) {
                        this.expandedPost = null;
                    } else {
                        this.expandedPost = postId;
                    }
                },
            }
        })
    </script>

</body>

</html>