<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css" rel="stylesheet" />

    <title>Introduction</title>
</head>

<body>
    <v-app id="App">
        <template>

            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Introduction</main-system-bar>

            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5"
                        style="display: flex; align-content: center;">

                        <v-row justify="center">
                            <v-col xs="12" md="6" lg="6">
                                <v-card class="mt-4">
                                    <v-system-bar class="font-weight-medium" style="background-color: #BFC8CC99;">Select
                                        Theme</v-system-bar>
                                    <v-card-text>
                                        <v-chip-group v-model="SelectedTheme" mandatory active-class="primary--text">
                                            <v-chip v-for="theme in Themes" :key="theme" :value="theme"
                                                @click="ResetNumber">
                                                {{ theme }}
                                            </v-chip>
                                        </v-chip-group>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>

                        <custom-carousel v-if="SelectedTheme" :title="SelectedTheme"
                            :items="Get_ThemeContent(SelectedTheme)" :height="512" :outpagenumber="PageNumber"
                            @update:outpagenumber="PageNumber = $event" />

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>

        </template>
    </v-app>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js"></script>

    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Common],
            data: {
                SelectedTheme: null,
                PageNumber: 0,
                Themes: [
                    'Greeting',
                    'Japanese Language',
                    'Plants',
                    'Game',
                    'Cooking',
                    'Music',
                    'Life in Japan',
                    'About me'
                ],
                ThemeContents: {
                    'Greeting': [
                        `
                            Hello!<br>Welcome to "FUM Website"!
                        `,
                        `
                            This Website is created to pack everything about my idea.<br><br>
                            I'm aware of the following things.<br><br>
                            <p style="display: inline-block; text-align: left;">
                                1. Simple and Easy to understand<br>
                                2. Fun<br>
                                3. Relax<br>
                            </p>
                        `,
                    ],
                    'Japanese Language': [
                        `
                            You may be able to improve your Japanese ability under my simple idea in this site.
                        `,
                        `
                            First, I recommend grasping the key points about the brain mechanism.<br>
                            The learning method that takes into account that mechanism will surely help you achieve your goals.<br><br>
                            <button class="Button_LikeVue" onclick="location.href='./Basic_Memory.html'">Check Memory Mechanism</button>
                        `,
                        `
                            Second, let's recap what we should know before learning Japanese!<br><br>
                            <button class="Button_LikeVue" onclick="location.href='./Basic_LearningPoints.html'">Check Learning Points</button>
                        `,
                    ],
                    'Plants': [],
                    'Game': [],
                    'Cooking': [],
                    'Music': [],
                    'Life in Japan': [],
                    'About me': []
                },
            },
            methods: {
                Get_ThemeContent(_theme) { return this.ThemeContents[_theme] },
                ResetNumber() { this.PageNumber = 0; },
            }
        })

    </script>

</body>

</html>