<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="../../Asset/CSS/Common.css?v=1.1" rel="stylesheet" />
    <link href="../../Asset/CSS/common_word_japanese.css" rel="stylesheet" />

    <title>Chinese</title>
    <meta name="robots" content="index, follow">
</head>

<body>

    <v-app id="App">
        <template>
            
            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Japanese Language > Word - Food > Chinese</main-system-bar>
            
            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">
                        
                        <v-row>
                            <v-col class="d-flex justify-end">
                                <v-switch v-model="Switch" :label="`Switch All　`" inset hide-details="false" />
                            </v-col>
                        </v-row>
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-word-general :showall="Switch" :japanese="list.japanese" :english="list.english">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.english }}</template>
                            </card-word-general>
                        </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>
            
        </template>
    </v-app>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js?v=1.03"></script>
    <script src="../../Asset/Javascript/Word.js"></script>
    
    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Word],
            created: function () {
                let japanese = [
                    "中華料理",
                    "ラーメン",
                    "チャーハン",
                    "餃子",
                    "焼売",
                    "小籠包",
                    "春巻き",
                    "麻婆豆腐",
                    "回鍋肉",
                    "酢豚",
                    "北京ダック",
                    "唐辛子",
                    "生姜",
                    "にんにく",
                    "醤油",
                    "ごま油",
                    "五香粉",
                    "炒め物",
                    "揚げ物",
                    "蒸し物",
                    "煮物",
                    "箸",
                    "蓮華",
                    "円卓",
                ];
                let reading = [
                    "chuuka ryouri",
                    "raamen",
                    "chaahan",
                    "gyoza",
                    "shuumai",
                    "shouronpou",
                    "harumaki",
                    "maboodoufu",
                    "hoikourou",
                    "subuta",
                    "pekin dakku",
                    "tougarashi",
                    "shouga",
                    "ninniku",
                    "shouyu",
                    "gomayu",
                    "gokouko",
                    "itamemono",
                    "agemono",
                    "mushimono",
                    "nimono",
                    "hashi",
                    "renge",
                    "entaku",
                ];
                let english = [
                    "Chinese cuisine",
                    "Ramen",
                    "Fried rice",
                    "Dumpling",
                    "Shumai",
                    "Soup dumpling",
                    "Spring roll",
                    "Mapo tofu",
                    "Twice-cooked pork",
                    "Sweet and sour pork",
                    "Peking duck",
                    "Chili pepper",
                    "Ginger",
                    "Garlic",
                    "Soy sauce",
                    "Sesame oil",
                    "Five-spice powder",
                    "Stir-fried dishes",
                    "Fried dishes",
                    "Steamed dishes",
                    "Simmered dishes",
                    "Chopsticks",
                    "Chinese soup spoon",
                    "Round table",
                ];
                
                this.CreateList(japanese, reading, english);
                this.list = this.List;
            },
        })

    </script>

</body>

</html>