<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css?v=1.0" rel="stylesheet" />
    <link href="../../Asset/CSS/common_word_japanese.css" rel="stylesheet" />

    <title></title>
</head>

<body>

    <v-app id="App">
        <template>
            
            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Basic > Verb</main-system-bar>
            
            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">
                        
                        <v-row>
                            <v-col class="d-flex justify-end">
                                <v-switch v-model="Switch" :label="`Switch All　`" inset hide-details="false" />
                            </v-col>
                        </v-row>
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-word-general :showall="Switch" :audio-src="`../../Asset/Audio/Voice/${list.reading}.wav`">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.english }}</template>
                            </card-word-general>
                        </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>
            
        </template>
    </v-app>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js?v=1.03"></script>
    <script src="../../Asset/Javascript/Word.js"></script>
    
    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Word],
            created: function () {
                let japanese = [
                    "する",
                    "食べる",
                    "飲む",
                    "話す",
                    "見る",
                    "聞く",
                    "触る",
                    "歩く",
                    "走る",
                    "働く",
                    "勉強する",
                    "料理する",
                    "焼く",
                    "教える",
                    "考える",
                    "座る",
                    "立つ",
                    "開ける",
                    "閉める",
                    "切る",
                    "着る",
                    "言う",
                    "押す",
                    "離す",
                    "作る",
                    "学ぶ",
                    "洗う",
                    "寝る",
                    "掃除する",
                    "整理する",
                ];
                let reading = [
                    "suru",
                    "taberu",
                    "nomu",
                    "hanasu",
                    "miru",
                    "kiku",
                    "sawaru",
                    "aruku",
                    "hashiru",
                    "hataraku",
                    "benkyousuru",
                    "ryourisuru",
                    "yaku",
                    "oshieru",
                    "kangaeru",
                    "suwaru",
                    "tatsu",
                    "akeru",
                    "shimeru",
                    "kiru",
                    "kiru",
                    "iu",
                    "osu",
                    "hanasu",
                    "tsukuru",
                    "manabu",
                    "arau",
                    "neru",
                    "soujisuru",
                    "seirisuru",
                ];
                let english = [
                    "Do",
                    "Eat",
                    "Drink",
                    "Talk",
                    "See",
                    "Listen",
                    "Touch",
                    "Walk",
                    "Run",
                    "Work",
                    "Study",
                    "Cook",
                    "Bake",
                    "Teach",
                    "Think",
                    "Sit",
                    "Stand",
                    "Open",
                    "Close",
                    "Cut",
                    "Wear",
                    "Say",
                    "Push",
                    "Release",
                    "Make",
                    "Learn",
                    "Wash",
                    "Sleep",
                    "Clean",
                    "Organize",
                ];

                this.CreateList(japanese, reading, english);
                this.list = this.List;
            },
        })

    </script>

</body>

</html>