<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css" rel="stylesheet" />

    <title>Music > Utada Hikaru</title>
</head>

<body>

    <v-app id="App" class="Gradient_Universe">
        <template>

            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Music > Utada
                Hikaru</main-system-bar>

            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">

                        <div class="year-navigation-minimal" style="z-index: 1;">
                            <v-btn @click="Toggle_PageNavigation" class="toggle-btn"
                                style="color: white; background-color: transparent;">
                                <v-icon>mdi-menu</v-icon>
                            </v-btn>
                            <div v-if="Showing_PageNavigation">
                                <div v-for="year in Get_Years" :key="year" :style="{ color: Get_YearColor(year) }"
                                    @click="Scroll_Year(year)" class="year-btn">
                                    {{ year }}
                                </div>
                            </div>
                        </div>


                        <v-row align="center" justify="center">
                            <v-col cols="12" md="6">
                                <v-card dark elevation="10" class="pa-6">

                                    <v-row align="center" justify="center">
                                        <v-col cols="12" md="8">
                                            <h1 class="text-h3 font-weight-bold mb-4">Utada Hikaru</h1>
                                            <h2 class="text-h5 font-weight-light mb-6">宇多田ヒカル</h2>
                                            <v-card class="mb-4" elevation="2">
                                                <v-card-title>Debut and Impact</v-card-title>
                                                <v-card-text>
                                                    <p>　In 1998, Utada Hikaru debuted at the age of 15, making a
                                                        significant impact on the Japanese music scene. Her music has
                                                        captured the hearts of people across generations with its
                                                        sophisticated pop sound, profound lyrics, and distinctive voice.
                                                    </p>
                                                </v-card-text>
                                            </v-card>
                                            <v-card class="mb-4" elevation="2">
                                                <v-card-title>Unique Musical Style</v-card-title>
                                                <v-card-text>
                                                    <p>　Constantly exploring new musical possibilities, Utada Hikaru has
                                                        built a unique musical world that incorporates elements of
                                                        electronica and R&B, while also reflecting the influence of
                                                        traditional Japanese music.</p>
                                                </v-card-text>
                                            </v-card>
                                        </v-col>
                                    </v-row>

                                    <v-divider class="my-6"></v-divider>

                                    <v-row align="center" justify="center">
                                        <v-col cols="12" md="8">
                                            <h3 class="text-h5 ma-2">Musical Worldview</h3>
                                            <v-chip-group class="mx-5" column>
                                                <v-chip color="primary" text-color="white">Emotional</v-chip>
                                                <v-chip color="primary" text-color="white">Multilayered</v-chip>
                                                <v-chip color="primary" text-color="white">Innovative</v-chip>
                                                <v-chip color="primary" text-color="white">Cross-cultural</v-chip>
                                                <v-chip color="primary" text-color="white">Synthetic</v-chip>
                                            </v-chip-group>
                                        </v-col>
                                    </v-row>

                                </v-card>
                            </v-col>
                        </v-row>


                        <v-row align="center" justify="center">
                            <v-col cols="12" md="6">
                                <v-timeline>
                                    <v-timeline-item :color="`hsl(0, 0%, 75%)`" small>
                                        <template v-slot:opposite>
                                            <span class="headline font-weight-bold" style="color: hsl(0, 0%, 75%);"
                                                v-text="'1998'"></span>
                                        </template>
                                        <div>
                                            <h2 class="headline font-weight-light" style="color: hsl(0, 0%, 75%);">
                                                Debut
                                            </h2>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item v-for="(content, i) in Contents" :key="i" :color="content.color"
                                        small>
                                        <template v-slot:opposite>
                                            <span :style="`color: ${content.color};`"
                                                :class="`headline font-weight-bold`" v-text="content.year"></span>
                                        </template>
                                        <v-row justify="center">
                                            <v-col cols="12" md="8">
                                                <h2 :style="`color: ${content.color};`"
                                                    :class="`timeline-title font-weight-light mb-4`">
                                                    {{ content.title }}
                                                </h2>
                                                <iframe class="Youtube" :src="content.url" frameborder="0"
                                                    allow="encrypted-media; picture-in-picture"
                                                    permissions="compute-pressure" allowfullscreen></iframe>
                                            </v-col>
                                        </v-row>
                                    </v-timeline-item>
                                </v-timeline>
                            </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>

        </template>
    </v-app>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js"></script>

    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Youtube],
            data: {
                Contents: [
                    { year: '1999', color: 'hsl(0, 75%, 65%)', title: 'First Love', url: 'https://www.youtube-nocookie.com/embed/GcpsTmDO9k0?controls=1' },
                    { year: '', color: 'hsl(0, 75%, 65%)', title: 'Automatic', url: 'https://www.youtube-nocookie.com/embed/rJwLPcL2u3c?controls=1' },
                    { year: '', color: 'hsl(0, 75%, 65%)', title: 'Movin on without you', url: 'https://www.youtube-nocookie.com/embed/w4w6OTjV7so?controls=1' },
                    { year: '2000', color: 'hsl(40, 75%, 65%)', title: 'Wait & See ～リスク～', url: 'https://www.youtube-nocookie.com/embed/jWPs_orw2Dk?controls=1' },
                    { year: '', color: 'hsl(40, 75%, 65%)', title: 'Addicted To You', url: 'https://www.youtube-nocookie.com/embed/PFzQ3ZXBsbo?controls=1' },
                    { year: '2001', color: 'hsl(80, 75%, 65%)', title: 'traveling', url: 'https://www.youtube-nocookie.com/embed/4j2ZJAgdrGE?controls=1' },
                    { year: '2002', color: 'hsl(120, 75%, 65%)', title: 'SAKURAドロップス', url: 'https://www.youtube-nocookie.com/embed/V6PisCGexEU?controls=1' },
                    { year: '', color: 'hsl(120, 75%, 65%)', title: '光', url: 'https://www.youtube-nocookie.com/embed/PFzQ3ZXBsbo?controls=1' },
                    { year: '2005', color: 'hsl(160, 75%, 65%)', title: 'Be My Last', url: 'https://www.youtube-nocookie.com/embed/li2TjO2P-Pg?controls=1' },
                    { year: '', color: 'hsl(160, 75%, 65%)', title: 'Passion', url: 'https://www.youtube-nocookie.com/embed/j01KLlxfoN4?controls=1' },
                    { year: '2007', color: 'hsl(200, 75%, 65%)', title: 'Flavor Of Life', url: 'https://www.youtube-nocookie.com/embed/iX4FRMcV88Y?controls=1' },
                    { year: '2008', color: 'hsl(240, 75%, 65%)', title: 'Prisoner Of Love', url: 'https://www.youtube-nocookie.com/embed/EHj3ljJvo5Y?controls=1' },
                    { year: '2010', color: 'hsl(280, 75%, 65%)', title: 'Goodbye Happiness', url: 'https://www.youtube-nocookie.com/embed/rUhhPZtYl7Y?controls=1' },
                    { year: '2012', color: 'hsl(320, 75%, 65%)', title: '桜流し', url: 'https://www.youtube-nocookie.com/embed/5GUHzOvKG8g?controls=1' },
                    { year: '2018', color: 'hsl(20, 75%, 65%)', title: '初恋', url: 'https://www.youtube-nocookie.com/embed/FtHpWnr99OY?controls=1' },
                    { year: '', color: 'hsl(20, 75%, 65%)', title: 'あなた', url: 'https://www.youtube-nocookie.com/embed/A_5wTaQKK6c?controls=1' },
                    { year: '', color: 'hsl(20, 75%, 65%)', title: 'Forevermore', url: 'https://www.youtube-nocookie.com/embed/x4WFZv4hJs4?controls=1' },
                    { year: '2019', color: 'hsl(60, 75%, 65%)', title: 'Face My Fears', url: 'https://www.youtube-nocookie.com/embed/P6fHi2hmG1Q?controls=1' },
                    { year: '2020', color: 'hsl(100, 75%, 65%)', title: 'Time', url: 'https://www.youtube-nocookie.com/embed/1ksh8x9bIPI?controls=1' },
                    { year: '2021', color: 'hsl(140, 75%, 65%)', title: 'One Last Kiss', url: 'https://www.youtube-nocookie.com/embed/0Uhh62MUEic?controls=1' },
                    { year: '', color: 'hsl(140, 75%, 65%)', title: 'Pink Blood', url: 'https://www.youtube-nocookie.com/embed/U_Ry2dM0B34?controls=1' },
                    { year: '2022', color: 'hsl(180, 75%, 65%)', title: 'BADモード', url: 'https://www.youtube-nocookie.com/embed/VJGCeAWIfEA?controls=1' }
                ],
            },
        });

    </script>

</body>

</html>