<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css" rel="stylesheet" />

    <title></title>
</head>

<body>

    <v-app id="App" class="Gradient_Nature">
        <template>

            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Music > Show-Go</main-system-bar>

            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">

                        <div class="year-navigation-minimal" style="z-index: 1;">
                            <v-btn @click="Toggle_PageNavigation" class="toggle-btn"
                                style="color: white; background-color: transparent;">
                                <v-icon>mdi-menu</v-icon>
                            </v-btn>
                            <div v-if="Showing_PageNavigation">
                                <div v-for="year in Get_Years" :key="year" :style="{ color: Get_YearColor(year) }"
                                    @click="Scroll_Year(year)" class="year-btn">
                                    {{ year }}
                                </div>
                            </div>
                        </div>

                        <v-row align="center" justify="center">
                            <v-col cols="12" md="6">
                                <v-card dark elevation="10" class="pa-6">

                                    <v-row align="center" justify="center">
                                        <v-col cols="12" md="8">
                                            <h1 class="text-h3 font-weight-bold mb-4">Show-Go</h1>
                                            <h2 class="text-h5 font-weight-light mb-6">Show-Go</h2>
                                            <v-card class="mb-4" elevation="2">
                                                <v-card-title>Artist Introduction</v-card-title>
                                                <v-card-text>
                                                    <p>　He gained recognition through his YouTube performances,
                                                        showcasing his ability to seamlessly blend musicality with
                                                        technical beatboxing skills.</p>
                                                    <p>　His music evokes a sense of Japanese nature and tranquility,
                                                        blending technical precision with an approachable sound. While
                                                        he explores new expressions, he also values traditional musical
                                                        elements and a natural sensibility, which adds to his unique
                                                        charm.</p>
                                                </v-card-text>
                                            </v-card>
                                            <v-card class="mb-4" elevation="2">
                                                <v-card-title>Unique Musical Style</v-card-title>
                                                <v-card-text>
                                                    <p>　Constantly exploring new musical possibilities, he has built a
                                                        unique musical world that incorporates elements of electronica
                                                        and R&B, while also reflecting the influence of traditional
                                                        Japanese music.</p>
                                                </v-card-text>
                                            </v-card>
                                        </v-col>
                                    </v-row>

                                    <v-divider class="my-6"></v-divider>

                                    <v-row align="center" justify="center">
                                        <v-col cols="12" md="8">
                                            <h3 class="text-h5 ma-2">Musical Worldview</h3>
                                            <v-chip-group class="mx-5" column>
                                                <v-chip color="primary" text-color="white">Melodious</v-chip>
                                                <v-chip color="primary" text-color="white">Technical</v-chip>
                                                <v-chip color="primary" text-color="white">Innovative</v-chip>
                                                <v-chip color="primary" text-color="white">Organic</v-chip>
                                                <v-chip color="primary" text-color="white">Rhythmic</v-chip>
                                            </v-chip-group>
                                        </v-col>
                                    </v-row>

                                </v-card>
                            </v-col>
                        </v-row>

                        <v-row align="center" justify="center">
                            <v-col cols="12" md="6">
                                <v-timeline>
                                    <v-timeline-item v-for="(content, i) in Contents" :key="i" :color="content.color"
                                        small>
                                        <template v-slot:opposite>
                                            <span :style="`color: ${content.color};`"
                                                :class="`headline font-weight-bold`" v-text="content.year"></span>
                                        </template>
                                        <v-row justify="center">
                                            <v-col cols="12" md="8">
                                                <h2 :style="`color: ${content.color};`"
                                                    :class="`timeline-title font-weight-light mb-4`">
                                                    {{ content.title }}
                                                </h2>
                                                <iframe class="Youtube_Animation" :src="content.url" frameborder="0"
                                                    allow="encrypted-media;"
                                                    permissions="compute-pressure" allowfullscreen></iframe>
                                            </v-col>
                                        </v-row>
                                    </v-timeline-item>
                                </v-timeline>
                            </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>

        </template>
    </v-app>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js"></script>

    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Youtube],
            data: {
                Contents: [
                    { year: '2020/12', color: 'hsl(0, 75%, 65%)', title: 'A LOVESONG FOR KYOTO', url: 'https://www.youtube-nocookie.com/embed/dN_0salO_m0' },
                    { year: '2021/04/06', color: 'hsl(40, 75%, 65%)', title: 'Jasmine', url: 'https://www.youtube-nocookie.com/embed/eg9_ymCEAF8' },
                    { year: '2021/04/11', color: 'hsl(40, 75%, 65%)', title: 'SOMEHOW', url: 'https://www.youtube-nocookie.com/embed/lRPZw8isGGA' },
                    { year: '2021/04/23', color: 'hsl(40, 75%, 65%)', title: 'A Lil Bit More', url: 'https://www.youtube-nocookie.com/embed/Jbp0f244FR8' },
                    { year: '2021/05', color: 'hsl(80, 75%, 65%)', title: 'Outstanding', url: 'https://www.youtube-nocookie.com/embed/D-CqhAWMQzw' },
                    { year: '2021/07', color: 'hsl(120, 75%, 65%)', title: 'Restless', url: 'https://www.youtube-nocookie.com/embed/204BiTEpo7s' },
                    { year: '2021/09', color: 'hsl(160, 75%, 65%)', title: 'You\'re Gone', url: 'https://www.youtube-nocookie.com/embed/EyCbBHvMQh4' },
                    { year: '2021/12', color: 'hsl(200, 75%, 65%)', title: 'Unforgettable', url: 'https://www.youtube-nocookie.com/embed/dx6sMwCHYqE' },
                    { year: '2022/04/22', color: 'hsl(240, 75%, 65%)', title: 'Silver', url: 'https://www.youtube-nocookie.com/embed/yT3_vLQ3jbM' },
                    { year: '2022/04/30', color: 'hsl(240, 75%, 65%)', title: 'Movement', url: 'https://www.youtube-nocookie.com/embed/U59lnLlU6S4' },
                    { year: '2023/02', color: 'hsl(280, 75%, 65%)', title: 'Kuon', url: 'https://www.youtube-nocookie.com/embed/Ye9Qwzj1BEE' },
                    { year: '2023/03', color: 'hsl(320, 75%, 65%)', title: 'Trial And Error', url: 'https://www.youtube-nocookie.com/embed/7b-ckCNA5oE' },
                    { year: '2024/03', color: 'hsl(20, 75%, 65%)', title: 'Shine Bright!', url: 'https://www.youtube-nocookie.com/embed/VYB0dwezfdk' },
                    { year: '2025/03', color: 'hsl(60, 75%, 65%)', title: 'Freesia', url: 'https://www.youtube-nocookie.com/embed/x5nJy2Lot8U' },
                ],
            }
        })

    </script>

</body>

</html>