<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css?v=1.0" rel="stylesheet" />
    <link href="../../Asset/CSS/common_word_japanese.css" rel="stylesheet" />

    <title></title>
</head>

<body>

    <v-app id="App">
        <template>
            
            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Word - Nature > Forest</main-system-bar>
            
            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">
                        
                        <v-row>
                            <v-col class="d-flex justify-end">
                                <v-switch v-model="Switch" :label="`Switch All　`" inset hide-details="false" />
                            </v-col>
                        </v-row>
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-word-general :showall="Switch" :audio-src="`../../Asset/Audio/Voice/${list.reading}.wav`">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.english }}</template>
                            </card-word-general>
                        </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>
            
        </template>
    </v-app>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js?v=1.02"></script>
    <script src="../../Asset/Javascript/Word.js"></script>
    
    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Word],
            created: function () {
                let japanese = [
                    "森",
                    "木",
                    "林",
                    "葉っぱ",
                    "枝",
                    "幹",
                    "根",
                    "木の実",
                    "動物",
                    "熊",
                    "鳥",
                    "鹿",
                    "イノシシ",
                    "リス",
                    "生態系",
                    "広葉樹",
                    "針葉樹",
                    "成長",
                    "多様性",
                    "保護",
                    "環境",
                    "間伐",
                    "再生",
                    "森林浴",
                    "日光浴",
                    "歩く",
                    "登る",
                    "下る",
                    "寝る",
                    "泊まる",
                    "高い",
                    "低い",
                    "静か",
                    "うるさい",
                    "暑い",
                    "寒い",
                    "ちょうどいい",
                ];
                let reading = [
                    "mori",
                    "ki",
                    "hayashi",
                    "happa",
                    "eda",
                    "miki",
                    "ne",
                    "ki no mi",
                    "doubutsu",
                    "kuma",
                    "tori",
                    "shika",
                    "inoshishi",
                    "risu",
                    "seitaikei",
                    "kouyouju",
                    "shiyouju",
                    "seichou",
                    "tayousei",
                    "hogo",
                    "kankyou",
                    "kanbatsu",
                    "saisei",
                    "shinrin yoku",
                    "nikkou yoku",
                    "aruku",
                    "noboru",
                    "kudaru",
                    "neru",
                    "tomaru",
                    "takai",
                    "hikui",
                    "shizuka",
                    "urusai",
                    "atsui",
                    "samui",
                    "choudoii",
                ];
                let english = [
                    "Forest",
                    "Tree",
                    "Woods",
                    "Leaves",
                    "Branch",
                    "Trunk",
                    "Root",
                    "Fruit",
                    "Animal",
                    "Bear",
                    "Bird",
                    "Deer",
                    "Wild boar",
                    "Squirrel",
                    "Ecosystem",
                    "Broadleaf tree",
                    "Coniferous tree",
                    "Growth",
                    "Diversity",
                    "Conservation",
                    "Environment",
                    "Thinning",
                    "Regeneration",
                    "Forest bathing",
                    "Sunbathing",
                    "Walk",
                    "Climb",
                    "Descend",
                    "Sleep",
                    "Stay overnight",
                    "Tall",
                    "Short",
                    "Quiet",
                    "Noisy",
                    "Hot",
                    "Cold",
                    "Just right",
                ];

                this.CreateList(japanese, reading, english);
                this.list = this.List;
            },
        })

    </script>

</body>

</html>