<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>

    <link rel="icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Asset/Image/Icon_1_2.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css?v=1.0" rel="stylesheet" />
    <link href="../../Asset/CSS/common_word_japanese.css" rel="stylesheet" />

    <title></title>
</head>

<body>

    <v-app id="App">
        <template>
            
            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Word - Outside > Restaurant</main-system-bar>
            
            <v-main id="Main">
                <transition name="Fade_Page">
                    <v-container v-show="Ready_Page" fluid fill-height class="pa-5">
                        
                        <v-row>
                            <v-col class="d-flex justify-end">
                                <v-switch v-model="Switch" :label="`Switch All　`" inset hide-details="false" />
                            </v-col>
                        </v-row>
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-word-general :showall="Switch">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.english }}</template>
                            </card-word-general>
                        </v-col>
                        </v-row>

                    </v-container>
                </transition>
            </v-main>

            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>
            <main-footer></main-footer>
            
        </template>
    </v-app>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js?v=1.0"></script>
    <script src="../../Asset/Javascript/Word.js"></script>
    
    <script>

        let vue = new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Word],
            created: function () {
                let japanese = [
                    "レストラン",
                    "自動ドア",
                    "会計",
                    "通路",
                    "店員",
                    "テーブル",
                    "椅子",
                    "客",
                    "キッチン",
                    "料理",
                    "ジュース",
                    "お酒",
                    "肉",
                    "魚",
                    "野菜",
                    "美味しい",
                    "美味しくない",
                    "綺麗",
                    "大きい",
                    "小さい",
                    "食べる",
                    "飲む",
                    "払う",
                ];
                let reading = [
                    "resutoran",
                    "jidoudoa",
                    "kaikei",
                    "tsuuro",
                    "tennin",
                    "te-buru",
                    "isu",
                    "kyaku",
                    "kicchin",
                    "ryouri",
                    "ju-su",
                    "osake",
                    "niku",
                    "sakana",
                    "yasai",
                    "oishii",
                    "oishikunai",
                    "kirei",
                    "ookii",
                    "chiisai",
                    "taberu",
                    "nomu",
                    "harau",
                ];
                let english = [
                    "Restaurant",
                    "Automatic door",
                    "Account",
                    "Aisle",
                    "Waiter",
                    "Table",
                    "Chair",
                    "Customer",
                    "Kitchen",
                    "Dish",
                    "Juice",
                    "Alcohol",
                    "Meat",
                    "Fish",
                    "Vegetable",
                    "Good",
                    "Not good",
                    "Beautiful",
                    "Big",
                    "Small",
                    "Eat",
                    "Drink",
                    "Pay",
                ];

                for (let i = 0; i < japanese.length; i++) {
                    let row = {};
                    row.id = i;
                    row.japanese = japanese[i];
                    row.reading = reading[i];
                    row.english = english[i];
                    this.List.push(row);
                }
            },
        })

    </script>

</body>

</html>