<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="F U M">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B89KY0993B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B89KY0993B');
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="../../Asset/Image/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="../../Asset/CSS/Common.css" rel="stylesheet" />
    <title>Profile</title>
</head>

<body>
    <v-app id="App">
        <template>
            <main-system-bar :drawer="Drawer" @change-drawer="ChangeDrawer">Profile</main-system-bar>
            <main-navigation :drawer="Drawer" @change-drawer="ChangeDrawer"></main-navigation>

            <v-main class="blue-grey lighten-4">
                <v-container fluid>
                    <v-row justify="center">
                        <v-col cols="12" md="8">
                            <v-card class="mb-4 profile-card">
                                <v-card-title class="text-h5 font-weight-bold py-3 d-flex justify-space-between">
                                    About Me
                                    <v-btn icon @click="toggleCard('profile')">
                                        <v-icon>{{ profileExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                    </v-btn>
                                </v-card-title>
                                <v-expand-transition>
                                    <v-card-text v-show="profileExpanded" class="pa-5">
                                        <v-row align="center">
                                            <v-col cols="12" md="4">
                                                <v-avatar size="200" class="profile-avatar">
                                                    <v-img src="../../Asset/Image/Icon_1_1.jpg"></v-img>
                                                </v-avatar>
                                            </v-col>
                                            <v-col cols="12" md="8">
                                                <p class="text-h6">Hello, I'm FUM.</p>
                                                <p class="subtitle-1">I live with plants :)</p>

                                                <v-divider class="my-4"></v-divider>

                                                <h3 class="subtitle-1 font-weight-bold mb-2">Connect:</h3>
                                                <v-btn v-for="(link, index) in socialLinks" :key="index"
                                                    :href="link.url" target="_blank" icon class="mr-2">
                                                    <v-icon>{{ link.icon }}</v-icon>
                                                </v-btn>
                                                <v-list dense>
                                                    <v-list-item>
                                                        <v-list-item-icon>
                                                            <v-icon>mdi-email</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <a
                                                                href="mailto:fuhito.work.1@gmail.com">fuhito.work.1@gmail.com</a>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                </v-list>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-expand-transition>
                            </v-card>

                            <v-card class="mb-4 job-offerings-card">
                                <v-card-title class="text-h5 font-weight-bold py-3 d-flex justify-space-between">
                                    <span><v-icon left>mdi-briefcase-outline</v-icon> Job Offerings</span>
                                    <v-btn icon @click="toggleCard('jobOfferings')">
                                        <v-icon>{{ jobOfferingsExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down'
                                            }}</v-icon>
                                    </v-btn>
                                </v-card-title>
                                <v-expand-transition>
                                    <v-card-text v-show="jobOfferingsExpanded" class="pa-5">
                                        <v-list dense>
                                            <v-list-item v-for="(job, index) in jobOfferings" :key="index">
                                                <v-list-item-icon>
                                                    <v-icon>{{ job.icon }}</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content>
                                                    <v-list-item-title>{{ job.title }}</v-list-item-title>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-list>
                                        <v-divider class="my-4"></v-divider>
                                        <p class="subtitle-1 font-weight-bold">The following services are limited to
                                            certain areas:</p>
                                        <v-list dense>
                                            <v-list-item v-for="(job, index) in localJobOfferings" :key="index">
                                                <v-list-item-icon>
                                                    <v-icon>{{ job.icon }}</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content>
                                                    <v-list-item-title>{{ job.title }}</v-list-item-title>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-list>
                                        <v-divider class="my-4"></v-divider>
                                        <p class="subtitle-1">For details or inquiries, please feel free to contact me
                                            at <a href="mailto:fuhito.work.1@gmail.com">fuhito.work.1@gmail.com</a></p>
                                    </v-card-text>
                                </v-expand-transition>
                            </v-card>

                            <v-card class="mb-4 hobby-card">
                                <v-card-title class="text-h5 font-weight-bold py-3 d-flex justify-space-between">
                                    <span><v-icon left>mdi-heart</v-icon> Hobbies</span>
                                    <v-btn icon @click="toggleCard('hobby')">
                                        <v-icon>{{ hobbyExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                    </v-btn>
                                </v-card-title>
                                <v-expand-transition>
                                    <v-card-text v-show="hobbyExpanded" class="pa-5">
                                        <v-chip-group column>
                                            <v-chip v-for="hobby in hobbies" :key="hobby" class="ma-2" outlined>
                                                {{ hobby }}
                                            </v-chip>
                                        </v-chip-group>
                                    </v-card-text>
                                </v-expand-transition>
                            </v-card>

                            <v-card class="life-journey-card">
                                <v-card-title class="text-h5 font-weight-bold py-3 d-flex justify-space-between">
                                    <span><v-icon left>mdi-timeline-clock</v-icon> Life Journey</span>
                                    <v-btn icon @click="toggleCard('lifeJourney')">
                                        <v-icon>{{ lifeJourneyExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down'
                                            }}</v-icon>
                                    </v-btn>
                                </v-card-title>
                                <v-expand-transition>
                                    <v-card-text v-show="lifeJourneyExpanded" class="pa-5">
                                        <v-timeline align-top dense>
                                            <v-timeline-item v-for="(event, index) in lifeEvents" :key="index"
                                                :color="event.color" small>
                                                <div class="font-weight-bold">{{ event.year }}</div>
                                                <div class="text-caption">{{ event.description }}</div>
                                            </v-timeline-item>
                                        </v-timeline>
                                    </v-card-text>
                                </v-expand-transition>
                            </v-card>

                        </v-col>
                    </v-row>
                    </v-container>
                </transition>
            </v-main>

            <main-footer></main-footer>
        </template>
    </v-app>

    <style>

        .profile-card,
        .hobby-card,
        .life-journey-card,
        .job-offerings-card {
            border-radius: 15px;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }

        .profile-avatar {
            border: 5px solid white;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        .v-timeline-item__body {
            padding-left: 15px;
        }

        .job-offerings-card .v-list-item__title {
            white-space: normal;
            overflow: visible;
            text-overflow: clip;
        }

        .subtitle-1 {
            margin-bottom: 0 !important;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../../Asset/Javascript/Common.js"></script>


    <script>
        new Vue({
            el: '#App',
            vuetify: new Vuetify(),
            mixins: [window.Mixins_Common],
            data: {
                drawer: false,
                profileExpanded: true,
                jobOfferingsExpanded: false,
                hobbyExpanded: false,
                lifeJourneyExpanded: false,
                socialLinks: [
                    { icon: 'mdi-instagram', url: 'https://www.instagram.com/fum_0001/' },
                    { icon: 'mdi-music-note', url: 'https://www.tiktok.com/@fum_0001' },
                    { icon: 'mdi-book-open-page-variant', url: 'https://www.xiaohongshu.com/user/profile/66910d1f000000000f037a6b?xhsshare=CopyLink&appuid=66910d1f000000000f037a6b&apptime=1720883908' },
                    { icon: 'mdi-pinterest', url: 'https://www.pinterest.jp/fum_0001/' },
                    { icon: 'mdi-microsoft-xbox-controller', url: '' },
                    { icon: 'mdi-chat', url: 'https://hellotalk.com/u/fum_516' },
                ],
                jobOfferings: [
                    { icon: 'mdi-translate', title: 'Language Lessons (Japanese, English, Spanish, Chinese)' },
                    { icon: 'mdi-code-tags', title: 'Programming Lessons (Basics, Game Development, Website Creation, Others)' },
                    { icon: 'mdi-cube-outline', title: '3D Modeling Lessons' },
                    { icon: 'mdi-robot', title: 'AI-assisted Learning Support' },
                    { icon: 'mdi-web', title: 'Website Creation and Maintenance' },
                    { icon: 'mdi-chart-line', title: 'Business Process Optimization Programming' },
                    { icon: 'mdi-video', title: 'Image and Video Editing' },
                    { icon: 'mdi-comment-question', title: 'Problem-solving Consultation' },
                    { icon: 'mdi-help-circle', title: 'Other Services (Let\'s discuss)' },
                ],
                localJobOfferings: [
                    { icon: 'mdi-laptop', title: 'Computer and Smartphone Usage Lessons' },
                    { icon: 'mdi-dumbbell', title: 'Sports and Training Lessons' },
                    { icon: 'mdi-broom', title: 'Cleaning, Window Washing, Gardening, etc.' },
                    { icon: 'mdi-food-variant', title: 'Cooking, Errands, Child/Pet Care, and Other Household Services' },
                    { icon: 'mdi-piggy-bank', title: 'Saving and Investment Consultation' },
                ],
                hobbies: [
                    'Walk', 'Learning', 'Movie', 'Languages', 'YouTube', 'AI',
                    'Programming', 'Training', 'Game', 'Travel', 'Observing Nature', 'Cooking',
                ],
                lifeEvents: [
                    { year: '1996', description: 'Born in Sapporo, Hokkaido.', color: 'green' },
                    { year: '2015', description: 'Moved to Kodaira City, Tokyo. Started working part-time.', color: 'blue' },
                    { year: '2018', description: 'Enrolled in a four-year technical college, majoring in Game Programming.', color: 'indigo' },
                    { year: '2022', description: 'Graduated and started working for a company in Yokohama, Kanagawa.', color: 'deep-purple' },
                    { year: '2023', description: 'Quit job and moved to family home in Fukuyama City, Hiroshima.', color: 'red' }
                ]
            },
            methods: {,
                toggleCard(card) {
                    this[card + 'Expanded'] = !this[card + 'Expanded'];
                }
            }
        })
    </script>
</body>

</html>